@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');// font

:root {
    --primary-color: red;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}